.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h1 {
  color: #fff;
}

.form form {
  display: flex;
  color: #fff;
  flex-direction: column;
  width: 60%;
}

.form form label {
  margin-bottom: 10px;
}

.form form input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 0.5rem;
  font-size: 18px;
}

.form form button {
  background-color: #005b8f;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 10px;
  font-size: 18px;
}
